<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Product Manager</title>
</head>
<body>
<div align="center">
    <h1>Product List</h1>
    <a href="/new">Create New Product</a>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
            <tr>
                <th>Product ID</th>
                <th>Name</th>
                <th>price</th>
                <th>weight</th>
                <th>imageUrl</th>
               
            </tr>
        </thead>
        <tbody>
            <tr th:each="product : ${listProducts}">
                <td th:text="${product.productId}">Product ID</td>
                <td th:text="${product.productName}">Name</td>
                <td th:text="${product.price}">price</td>
                <td th:text="${product.weight}">weight</td>
                <td th:text="${product.imageUrl}">imageUrl</td>
                <td>
                    <a th:href="/@{'/edit/' + ${product.productId}}">Edit</a>
                    &nbsp;&nbsp;&nbsp;
                    <a th:href="/@{'/delete/' + ${product.productId}}">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>   
</body>
</html>